h2 {
    color: white;
    font-weight: bold;
}

svg {
    color: white;
    font-weight: bold;
    width: 35px;
    height: 35px;
}

p {
    color: white;
    font-weight: bold;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:hover {
    color: grey;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("https://cdn.pixabay.com/photo/2016/11/23/14/49/controls-1853330_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}